/* 
    Document   : searchBoxDropdown
    Created on : Nov 28, 2011, 5:23:38 PM
    Author     : ordinary people
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.dropdown { font-family:Arial, Helvetica, Sans-Serif;  color:#000; font-weight: 600;/* font-size:0.75em; */
            padding: 0px; margin: 5px; font-size: 15px;
            }
/*        .desc { color:#6b6b6b;}
            .desc a {color:#0092dd;}
*/      
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#816c5b; text-decoration:none; outline:none;}
.dropdown a:hover { color:#5d4617;}
.dropdown dt a:hover { color:#5d4617; border: 1px solid #d0c9af;
            /* add round corner effects to the fixed part */
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;

}
.dropdown dt a {background:#e4dfcb url(../images/searchBoxDropdownArrow.png) no-repeat scroll right center; display:block; padding-right:20px;
                border:1px solid #d4ca9a; width:300px; padding:5px;
            /* add round corner effects to the fixed part */
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;

}
.dropdown dt a span {cursor:pointer; display:block;}
.dropdown dd ul { background:#e4dfcb none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0; display:none;
                  left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:310px; list-style:none;
            /* add round corner effects to the dropdown part */
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#d0c9af;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { display:none;}
